<div class="app">
  <h1 class="title">Hacker News Job Board</h1>
  <div *ngIf="items.length || itemIds === null; else noItems">
    <div class="items" role="list">
      <div *ngFor="let item of items">
        <app-job-posting [item]="item"></app-job-posting>
      </div>
    </div>
    <button
      class="load-more-button"
      [disabled]="fetchingDetails"
      (click)="fetchItems(currentPage + 1)"
    >
      {{ fetchingDetails ? "Loading" : "Load more jobs" }}
    </button>
  </div>
  <ng-template #noItems>
    <p class="loading">Loading...</p>
  </ng-template>
</div>
