* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f6f6ef;
  color: black;
  font-size: 16px;
  padding: 16px;
}

.app {
  max-width: 600px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 24px;
}

.items {
  display: grid;
  row-gap: 16px;
}

.loading {
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
  opacity: 0.6;
}

.load-more-button {
  background-color: #ff6600;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  padding: 8px 12px;
}

.load-more-button:hover {
  background-color: #e65c00;
  cursor: pointer;
}

.load-more-button:disabled {
  background-color: gray;
}
